<div style="text-align:right; padding: 10px;">
  <% if current_user %>
    <a href="/logout"><button type="button" class="btn btn-danger"  data-toggle="tooltip" data-placement="left" title="Logged in as <%= current_user.full_name %>">Log Out</button></a>
  <% else %>
    <a href="/signup" class="btn btn-default">Sign Up</a>
    <a href="/login" class="btn btn-default">Log In</a>
  <% end %>
</div>
